<a href="https://colab.research.google.com/github/NemesisCrociata/Project-2/blob/main/project_2_working_title.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2 (Working Title)

**Author:** Nemesis Crociata

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns',100)

## EMPRES Global Animal Disease Surveillance (1st choice)

In [2]:
file = '/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week07/Data/Outbreak.csv'

df = pd.read_csv(file)

In [3]:
df.head()

,Id,source,latitude,longitude,region,country,admin1,localityName,localityQuality,observationDate,reportingDate,status,disease,serotypes,speciesDescription,sumAtRisk,sumCases,sumDeaths,sumDestroyed,sumSlaughtered,humansGenderDesc,humansAge,humansAffected,humansDeaths
0,230399,OIE,-27.900000,30.800000,Africa,South Africa,KwaZulu-Natal,HPAI_H5N8_2017_019,Exact,17/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"domestic, unspecified bird",248000.0,12.0,12.0,50000.0,0.0,NaN,0.0,NaN,NaN
1,230381,OIE,54.837037,73.354155,Europe,Russian Federation,Omskaya Oblast,Novaya Stanica,Exact,16/08/2017,18/08/2017,Confirmed,African swine fever,NaN,"domestic, swine",122.0,6.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
2,230333,OIE,-21.077740,30.211620,Africa,Zimbabwe,Masvingo,Mwambe,Exact,16/08/2017,16/08/2017,Confirmed,Foot and mouth disease,NaN,"domestic, cattle",1283.0,112.0,0.0,NaN,7.0,NaN,NaN,NaN,NaN
3,230396,OIE,-26.000000,28.300000,Africa,South Africa,Gauteng,HPAI_H5N8_2017_020,Exact,15/08/2017,22/08/2017,Confirmed,Influenza - Avian,H5N8 HPAI,"wild, unspecified bird",NaN,1.0,1.0,0.0,0.0,NaN,0.0,NaN,NaN
4,230371,OIE,49.237900,17.700200,Europe,Czech Republic,Jihomoravsky,Hvozdn√°,Exact,15/08/2017,17/08/2017,Confirmed,African swine fever,NaN,"wild, wild boar",NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

1. Source of data
  - [Original source](https://www.kaggle.com/datasets/tentotheminus9/empres-global-animal-disease-surveillance)
2. Brief description of data
  - "Data downloaded from the EMPRES Global Animal Disease Information System shows the when, where and what of animal disease outbreaks from the last 2 years, including African swine fever, Foot and mouth disease and bird-flu. Numbers of cases, deaths, etc are also included."
3. What is the target?
  - Disease
4. What does one row represent? (A person? A business? An event? A product?)
  - One row represents one animal
5. Is this a classification or regression problem?
  - Classification
6. How many features does the data have?
  - 24 features
7. How many rows are in the dataset?
  - 17.0k rows
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
  - I foresee extra time spent on imputing null values or choosing to discard data.

## Adult Income Data (2nd choice)

In [4]:
file = '/content/drive/MyDrive/CodingDojo/02-MachineLearning/Week07/Data/adult.csv'

dff = pd.read_csv(file)

In [5]:
dff.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

1. Source of data
  - [Original source](https://www.kaggle.com/datasets/wenruliu/adult-income-dataset?resource=download)
2. Brief description of data
  - "An individual‚Äôs annual income results from various factors. Intuitively, it is influenced by the individual‚Äôs education level, age, gender, occupation, etc."
3. What is the target?
  - Income
4. What does one row represent? (A person? A business? An event? A product?)
  - One row represents one person
5. Is this a classification or regression problem?
  - Regression
6. How many features does the data have?
  - 16 features
7. How many rows are in the dataset?
  - 48.8k rows
8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
  - I foresee extra time spent on cleaning the string-type features, as well as experimenting with the importance of features and their impact on the target.